.Button {
  cursor: pointer;
}

.SmallButton{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
}

.MediumButton {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  margin: 60px 20px;
  margin-bottom: 0;
  display: inline-block;
}

.LargeButton {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  margin: 40px 20px;
  margin-bottom: 0;
  display: inline-block;
}

.GoldBackground {
  background-color: #aa8900;
}

.TransparentBackground {
  border: 2px #aa8900 solid;
}

.GoldBorder {
  border: 2px #aa8900 solid;
}

.LightGoldBorder {
  border: 2px rgba(182, 159, 94, 1) solid;
}