.Team {
  display: grid;
  width: 100%;
  padding: 50px 0 100px 0;
}

.TeamContainer {
  width: calc(100% - 40px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.TeamItem {
  height: 50vh;
  width: 100%;
}
