.Contact{
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.ContactInfo{
    grid-column: 2 / 3;
    padding-top: 12vh;
    width: 80%;
}
