.Contact{
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

.ContactInfo{
    grid-column: 2 / 3;
    padding-top: 12vh;
    width: 80%;
}


.Button{
    border: 2px #AA8900 solid;
    width: 25%;
    height: 18px;
    padding: 10px 4%;
    text-align: center;
    border-radius: 5px;
    margin: 60px 20px;
    margin-bottom: 0;
    display: inline-block;
}