.PageInfoNavigation{
    margin-left: 257px;
    margin-top: 51px;
}

.PageInfoNav{
    cursor: pointer;
    font-size: 31px;
    color: rgba(17, 16, 21, 1);
    text-align: center;
    display: inline-block;
    height: 48px;
    width: 289px;
    border-bottom: rgba(170, 137, 0, 1) solid 4px;
    margin: 0 10px;
}