.ContactForm{
    grid-column: 3 / 4;
    margin-top: 15vh;
}

.Label{
    margin: 5px 0;
}

.oneLineInput{
    width: 70%;
    border-radius: 10px;
    height: 35px;
    padding-left: 10px;
}

.oneLineInput::placeholder{
    
    color: #D5CC99;
}

.textField{
    width: 70%;
    border-radius: 10px;
    height: 120px;
    padding-left: 10px;
    padding-top: 10px;
}

.textField::placeholder{
    color: #D5CC99;
}

.Button{
    border: 2px #AA8900 solid;
    width: 25%;
    height: 18px;
    padding: 10px 4%;
    text-align: center;
    border-radius: 5px;
    margin: 20px 20px;
    margin-bottom: 0;
    display: inline-block;
    margin-left: calc(37% + 10px);
}