.Label{
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 500;
    color: rgba(182, 159, 94, 1);
    height: 21px;
    text-align: start;
}

.NameInput{
    height: 48px;
    width: 456px;
    border: 4px solid rgba(182, 159, 94, 1);
    margin-top: 11px;
    background-color: transparent;
}

.NameWrapper{
    margin-top: 30px;
    width: 50%;
    display: inline-block;
}

.ContactInput{
    height: 48px;
    width: 301px;
    border: 4px solid rgba(182, 159, 94, 1);
    background-color: transparent;
    margin-top: 11px;
    margin-left: 0;
}

.ContactInputWrapper{
    margin-top: 30px;
    width: 33.33%;
    display: inline-block;
    
}

.MessageWrapper{
    margin-top: 30px;
    width: 100%;
    display: inline-block;
}

.MessageInput{
    height: 169px;
    width: 935px;
    border: 4px solid rgba(182, 159, 94, 1);
    background-color: transparent;
    margin-top: 11px;
    box-sizing: border-box;
}