

.Footer{
    background-color: black;
    text-align: center;
    padding-top: 60px;
    height: 50vh;
    
}

.Footer p{
    margin: 0;
    padding-bottom: 40px;
}

.Footer a{
    text-decoration: none;
    cursor: pointer;
}

.GridWrapper{
    
    
}

.ContactUs{
    grid-column: 1 / span 3;
}

.Service{
    grid-column: 5 / span 3;
}

.Information{
    grid-column: 9 / span 3;
}

.Subscribe{
    grid-column: 13 / span 10;
}

p {
    margin: 2px;
}
.Subtitle{
    margin-bottom: 10px;

}

.oneLineInput{
    width: 35%;
    border-radius: 5px;
    height: 20px;
    margin-top: 10px;
    padding-left: 10px;
    display: inline;
}

.oneLineInput::placeholder{
    
    color: #D5CC99;
}

.Button{
    border: 2px #AA8900 solid;
    width: 20%;
    display: inline-block;
    height: 20px;
    padding: 2px 4%;
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
    line-height: 20px;
    display: inline-block;
}

.Trademark{
    margin-left: 20px;
    vertical-align: bottom;
    
}