.About {
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
}

.AboutSession {
  background-color: white;
  padding: 10% 40px;
}

.TeamSession {
  height: 100vh;
  display: block;
  width: 100%;
}

.AboutPhoto {
  grid-column: 1 / 2;
  background-image: url("/images/aboutPhoto.jpg");
  background-size: cover;
  width: 100%;
  height: 80%;
  justify-self: start;
  align-self: center;
}

.AboutMessage {
  font-size: 17px;
  margin-top: 20px;
}
