.Navigation{
    color: white;
    display: inline-block;
    margin-right: 20px;
    float: right;
    line-height: 130px;
}

.navLink{
    margin-right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .navLink{
        margin: 0 5px;
    }
}