.Navigation{
    grid-column: 11/20;
    color: white;
    align-self: center;
    grid-column: 2/3;
}

.navLink{
    margin: 0 10px;
}

@media screen and (max-width: 500px){
    .navLink{
        margin: 0 5px;
    }
}